Repository mlpack/ensmallen, pull requests merged in 2020-07, with the labels that each got.

#165 Early stopping at loss min on validation set
  HISTORY.md
  doc/callbacks.md
  include/ensmallen.hpp
  include/ensmallen_bits/callbacks/early_stop_at_min_loss.hpp
  tests/callbacks_test.cpp
Labels: c: optimizers, s: keep open, t: added feature

#206 Release version 2.13.0: "Automatically Automated Automation"
  CONTRIBUTING.md
  HISTORY.md
  include/ensmallen_bits/ens_version.hpp
  scripts/ensmallen-release.sh
Labels: t: release

#207 Website update release script fixes
  HISTORY.md
  scripts/ensmallen-release.sh
  scripts/update-website-after-release.sh
Labels: c: build system, t: bugfix

#201 Fix constrained optimizer documentation
  HISTORY.md
  doc/function_types.md
  doc/optimizers.md
  include/ensmallen_bits/aug_lagrangian/aug_lagrangian_impl.hpp
  include/ensmallen_bits/lbfgs/lbfgs_impl.hpp
Labels: c: documentation, c: optimizers, t: bugfix
