Repository mlpack/ensmallen, pull requests merged in 2023-07, with the labels that each got.

#371 Windows build fix
  .appveyor.yml
Labels: c: build system

#370 upgrade to Catch v2.13.10
  tests/catch.hpp
Labels: c: tests, t: bugfix

#351 An attempt to fix the current CMAES inconsistencies
  HISTORY.md
  doc/optimizers.md
  include/ensmallen_bits/cmaes/cmaes.hpp
  include/ensmallen_bits/cmaes/cmaes_impl.hpp
  include/ensmallen_bits/cmaes/transformation_policies/boundary_box_constraint.hpp
  include/ensmallen_bits/cmaes/transformation_policies/empty_transformation.hpp
  include/ensmallen_bits/nsga2/nsga2_impl.hpp
  include/ensmallen_bits/problems/zdt/zdt4_function.hpp
  tests/callbacks_test.cpp
  tests/cmaes_test.cpp
Labels: c: optimizers, s: keep open
